/* Context Menu */

.contextMenu {
    position: fixed;
    z-index: 10;
   
}
.contextMenuUL.Close {
    display: none;
}
.contextMenuUL {
    font-size: 14px;
    box-shadow: none;
    border-radius: 0;
    box-sizing: border-box;
    position: fixed;
    padding-top: 0;
    padding-bottom: 0;
    background-color:rgba(25,25,25,0.85);
    color: #ffffff;
    white-space: nowrap;    
    border: 1px solid #282828;
    box-shadow: 0 4px 8px rgba(0,0,0,.175);
    border-radius: 3px;
    transform: translate(-95%,10px);
}



.contextMenuUL.Close {
    transform: scale(0);
}

.menuItem {
    padding-right: 12px;
    padding-left: 2px;
    height: 45px;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    line-height: 1px;
    color: var(--app-font-color);
}

.menuItem:hover{
      background-color: var(--app-select-hover-color);
}

.ContextMenuIcon {
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color:var(--app-font-color);    
    mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}
.Map {        
    -webkit-mask-image: url('../../assets/images/map2.svg');
    mask-image: url('../../assets/images/map2.svg');
}
.DTM {
    -webkit-mask-image: url('../../assets/images/mountain.svg');
    mask-image: url('../../assets/images/mountain.svg');
}
.ThreeD {
    -webkit-mask-image: url('../../assets/images/cube.svg');
    mask-image: url('../../assets/images/cube.svg');
}

.AddMapLocation {
    -webkit-mask-image: url('../../assets/images/addMapLocation.svg');
    mask-image: url('../../assets/images/addMapLocation.svg');
}