.Wrapper {
    display: flex;
    position: fixed;
    padding: 15px 25px;
    bottom: 30px;
    left: 30px;
    align-items: center;
    font-size: 14px;
    background: #191919;
    border-radius: 3px;
    white-space: nowrap;
    z-index: 3;
}


.Icon {
    height: 16px;
    width: 16px;
    margin-right: 10px;
}
.Text {

}