.Wrapper {
    min-height: 200px;
}
.InputWrapper {
    display: flex;
}

.Row + .Row{
    margin-top: 25px;
}

.InnerInputWrapper {
    width: 100%; 
 }
.InnerInputWrapper:nth-child(n+2) {
    margin-left:5px;  
 }
 .Label {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    font-size: 14px;
    margin-top:10px;
}

.Icon {
    height: 34px;
    width: 34px;
    background-position: center;
    background-repeat: no-repeat;    
    background-size: cover;        
    cursor: pointer;    
  }
  
.PositionIcon {
    background-image: url(../../../assets/images/position.svg);
}

.DroneIcon {
    -webkit-mask-image: url(../../../assets/images/drone.svg);  
    mask-image:  url(../../../assets/images/drone.svg);  
    -webkit-mask-repeat: no-repeat;
    background-color: #8b8d92;
    width: 47px;
  }