.Wrapper {
    position: fixed;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    background: rgba(0,0,0,0.7);
    padding: 10px 18px;
    transform: translateX(-50%);
    border: 1px solid rgba(255,255,255,0.2);
    font-weight: 500;
    letter-spacing: 0.5px;
}
.TelemetryWrapper:first-child {
    margin-right: 10px;
}
.TelemetryWrapper > span:first-child {
    margin-right: 5px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0.8;
}
.TelemetryWrapper > span:last-child {    
    font-size: 17px;    
}
.Units {
    font-size: 13px;
    margin-left: 2px;
    opacity: 0.8;
    font-weight: 400;
}