.Wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    position: absolute;
    left: 50px;
    right: 0;
}

.Center {
    align-items: center;
}

.StartNewBtn {
    width: 300px;
    height: 100px;
    background: #2d2d2d;
    border: 1px solid var(--app-bg-color);
    color: var(--app-font-color);
    font-size: 18px;
    font-weight: 400;
    font-family: inherit;
    box-shadow: 1px s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.SideBar {
    position: absolute;
    height: 100%;
    width: var(--app-header-height);
    background: var(--app-bg-color-alt);
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px 0;
}

.SidebarLabel {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #f6ea74;
    padding: 20px 5px;
    display: flex;
    align-items: center;
    margin: 10px;
}

.SideBarButtons {
    display: flex;
    flex-direction: column;
}

.Header {
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 2px;
    color: #f6ea74;
    display: flex;
    justify-content: center;
    font-size: 15px;
    background: #3d3d3d;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
    width: 100%;
}

.HeaderBtnWrapper {
    position: absolute;
    right: 20px;
}

.HeaderBtn {
    color: #4599ff;
    background-image: url(../../assets/images/eye.svg);
    width: 22px;
    height: 22px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.HeaderIcon {    
    width: 32px;
    height: 32px;
    background-color: #cbcbcb;
    mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    margin: auto;
}
.HeaderTextWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100%;
    padding: 0 20px;
}

.HeaderTextState {
}

.DraftIcon {
    -webkit-mask-image: url('../../assets/images/document.svg');
    mask-image: url('../../assets/images/document.svg');
}

.SavedPlanIcon {
    -webkit-mask-image: url('../../assets/images/document-done.svg');
    mask-image: url('../../assets/images/document-done.svg');
}

.SideBarBtn {    
    width: 24px;
    height: 24px;
    background-color: #cbcbcb;
    mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    cursor: pointer;
    margin-bottom: 25px;
}
.SideBarBtn:hover, .SideBarBtn:active {
    background-color: var(--app-font-color);
}

.EmptyPlanStagesMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.NavigateBack {
    -webkit-mask-image: url('../../assets/images/arrowLeft.svg');
    mask-image: url('../../assets/images/arrowLeft.svg');
}
.Import {
    -webkit-mask-image: url('../../assets/images/uploadDoc.svg');
    mask-image: url('../../assets/images/uploadDoc.svg');
}

.Export {
    -webkit-mask-image: url('../../assets/images/downloadDoc.svg');
    mask-image: url('../../assets/images/downloadDoc.svg');
}

.Save {
    -webkit-mask-image: url('../../assets/images/save.svg');
    mask-image: url('../../assets/images/save.svg');
}

.Remove {
    -webkit-mask-image: url('../../assets/images/delete.svg');
    mask-image: url('../../assets/images/delete.svg');
}

.ClearStages {
    -webkit-mask-image: url('../../assets/images/clear-list.svg');
    mask-image: url('../../assets/images/clear-list.svg');
}