.App {
  height: 100vh;
}
.AppHeader {
  padding: 0 20px;
  height: var(--app-header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--app-font-color);
  background-color: var(--app-bg-color-alt);
}

.LogoWrapper {
  cursor: pointer;
}

.ActionsBar {
  background-color: var(--app-bg-color-alt);
  padding: 20px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
}

.ActionButtons {
  display: flex;
}
.HeaderElementWrapper{
  height: 100%;
}
.HeaderElementWrapper:first-child {
  margin-right: 10px;
}
.ExportBtn {  
  font-size: 16px;
  width: 175px;
  background-color:var(--app-main-yellow);
  cursor: pointer;
  padding: 10px 15px;
  border-radius: var(--button-border-radius);
  font-weight: 400;
  color: #000000;
  border: none;
  outline: none;
  font-family: inherit;
  transition: .3s ease;  
}

.ExportBtn.Disabled {
  background-color: #635e2e;
  pointer-events: none;
  cursor: unset;
}

.ExportBtn:hover {
  background-color: #ADA344;
}
.FileInput {
  display: none;
}
.RightHeader{
  display: flex;
}

.HeaderLeftWrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.HeaderItem {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--app-bg-color);
  min-width: 80px;
  padding-left: 10px;
  padding-right: 10px;
}

.HeaderItem:first-child{
  border-left: 1px solid var(--app-bg-color);  
}

.Icon {
  height: 24px;
  width: 24px;
  background-position: center;
  background-repeat: no-repeat;    
  background-size: cover;            
}

.GpsIcon {
  background-image: url(./assets/images/gpsFull.svg);
}
.PositionIcon {

  background-image: url(./assets/images/position.svg);
}
.CompassIcon {
  height: 20px;
  width: 20px;
  background-image: url(./assets/images/compass.svg);
}
.WifiIcon {
  background-image: url(./assets/images/signal.svg);
  width: 25px;
  height: 20px;
}
.BatteryIcon {
  background-image: url(./assets/images/battery/battertHalf.svg);
}
.DroneIcon {
  background-image: url(./assets/images/drone.svg);
  height: 30px;
  width: 70px;
  opacity: 0.7;
  margin-right: 20px;
}

.BatteryValue {
    font-size: 12px;
    margin-left: 5px;
}
.LongLatWrapper{
  flex-direction: column;
  margin-left: 5px;
  font-size: 11px;
  margin-right: 20px;
  display: flex;
} 
.LongLatWrapper > span {
  display: flex;
  justify-content: space-between;  
  margin-bottom: 2px;
}
.lonLatLabel {
  opacity: 0.6;
}
.lonLatValue {
  opacity: 1;
}


.LongLatWrapper > span > span{
  margin-left: 7px;
}

.MissionWrapper {
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
}
.MissionValue {
  color: #f6ea74;
  margin-left: 7px;
  opacity: 1;
  font-size: 13px;
}

.MissionValueWrapper {
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
}

.MenuBtn {
  border: 0;
  background: transparent;
  height: 25px;
  width: 25px;
  margin-left: 20px;
  outline: none;
  cursor: pointer;
}

.MenuIcon {
  height: 20px;
  width: 20px;
  display: inline-block;
  background-image: url(./assets/images/menu.svg);
}

.MissionPlannerIcon {
  height: 25px;
  width: 20px;
  display: inline-block;
  background-image: url(./assets/images/list.svg);
}


.MissionPlannerOverlay {
  width: 37%;
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  background: #6d6d6e;
  z-index: 2;
}

.MissionPlannerOverlay.MissionPlannerHidden {
    opacity: 0;
    height: 0;
    pointer-events: none;
}

.VersionText {
 font-size: 11px;
 display: flex;
 justify-content: center;
 color: silver;
}

.DroneSelectionWrapper{
  width: 100%;
  margin-left: 5px;
}