.Wrapper {
  height: 100%;
  background-color: var(--app-bg-color);
  border-right: 1px solid #676767;
  border: 1px solid var(--app-bg-color-alt);
}

.LoadingMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: rgba(0,0,0,0.2);
}
.CanvasContainer {
  position: relative;
  height: 100%;
}
.MapWrapper {
  position: relative;
  height: 100%;
}
.MapToolbox {
  position: absolute;
  width: 100%;
  top: 0;
  height: 30px;
  /*background: rgba(0,0,0,.65);
  background: linear-gradient(to bottom, black 0%, transparent 100%);*/
  background: var(--app-bg-color-alt);
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.MapToolbox.Active{
  transition: 0.5s;
  height: 150px;
}
.DescRow {
  margin-bottom: 10px ;
}
.DescValue {
  margin-left: 15px;
}
.DescLabel {

}
.Description {
  margin: auto;
  font-weight: 400;
  font-size: 13px;
}

.MoreActionsBtn {
  background-image: url(../../assets/images/context.svg);  
  cursor: pointer;
  background-repeat: no-repeat;
  display: inline-block;
  height: 15px;
  width: 4px;
  position: absolute;
  right: 10px;
  background-position: center;
  padding: 0 10px;
}

.SwitchMapForm {
  position: absolute;
  height: 0%;
  top: 0;
  right: 0;
  width: 100%;
  background: rgba(0,0,0,.8);
  z-index: 1;
  transition: 0.5s ease;
}

.SwitchMapForm.Open {
  height: 100%;
}